@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

#sync1 .owl-prev {
    left: 10px;
    width: 30px;
    height: 50px;
    margin-top: -20px;
    position: absolute;
    top: 42.5%;
}

#sync1 .owl-next {
    right: 10px;
    width: 30px;
    height: 50px;
    margin-top: -20px;
    position: absolute;
    top: 42.5%;
}
#sync2 .owl-prev {
    left: 10px;
    width: 30px;
    height: 50px;
    margin-top: -20px;
    position: absolute;
    top: 47.5%;
}

#sync2 .owl-next {
    right: 10px;
    width: 30px;
    height: 50px;
    margin-top: -20px;
    position: absolute;
    top: 47.5%;
}
#sync3 .owl-prev {
    left: 10px;
    width: 30px;
    height: 50px;
    margin-top: -20px;
    background-color: #000;

    position: absolute;
    top: 43%;
}

#sync3 .owl-next {
    right: 10px;
    width: 30px;
    height: 50px;
    margin-top: -20px;
    background-color: #000;
    position: absolute;
    top: 43%;
}

#sync3 .item {
    cursor: pointer;
    background: #c9c9c9;
}

.owl-theme .owl-nav [class*="owl-"] {
    transition: all 0.3s ease;
}

.owl-theme .owl-nav [class*="owl-"].disabled:hover {
    background-color: #ffff;
}

.dropdown:hover .dropdown-menu {
    top: 1.5rem;
    display: block;
}

.dropdown-menu {
    right: 0px;
    top: 40px;
}

/* .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #2b6cb0;  } */

.input-container {
    position: relative;
    height: 2rem;
    width: auto;
}

.input-container .radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1rem;
    transition: transform 300ms ease;
}

.input-container .radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #079ad9;
}
.input-container .radio-button:checked + .radio-tile {
    background-color: #079ad9;
    border: 2px solid #079ad9;
    color: white;
}

.input-container .radio-button:checked + .radio-tile .radio-tile-label {
    color: white;
    background-color: #079ad9;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.title {
    color: #7a7572;
  }
  
  .title::after,
  .title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: 1.25em;
    width: 2px;
    height: 0.75em;
    background-color: #7a7572;
    transition: all 0.2s;
  }
  
  .title::after {
    transform: rotate(90deg);
  }
  
  .content {
    max-height: 0;
  }
  
  .toggle:checked + .title, .toggle:checked + .title + .content {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
  }
  .toggle:checked + .title + .content {
    max-height: 500px;
  }
  .toggle:checked + .title::before {
    transform: rotate(90deg) !important;
  }